*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
    height: 100%;
    width: 100%;
}

#map{
    height: 100%;
    width: 100%;
}
.meeting-point {
    color: #e74c3c;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

.poi-marker {
    font-size: 20px;
    text-align: center;
}

.leaflet-routing-container {
    display: none;
}